$bg-primary: #fafafa;
$bg-secondary: #ffffff;
$bg-scale: #ed7853;
$bg-link: #f5f5f5;
$bg-star: #fed833;

$default: #279fb9;
$accent: #ffc020;

$text-primary: #333333;
$text-white: #ffffff;
$text-gray: #bdbdbd;
$text-input: #757575;

$gray-palette: #e0e0e0;
